body {
  background-color: blue;
  color: white;
  width: 100%;
  height: 150vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-clamp: calc(100vh - 2 * 24px);
}
